Header {
    background-color: red;
    height: 5vh;
}

main {
    display: flex;
    height: 90vh;
}

Aside {
    background-color: green;
    width: 15vw;
}

section.page {
    background-color: gray;
    width: 85vw;
}

footer {
    background-color: yellow;
    height: 5vh;
}
